@media (max-width: 750px) {
    body
    {
        margin: 0%;
        padding: 0%;
    }
    .nav1-1-item
    {
        width: 50vw;
        font-size: 130%;
    }
    #linknavso, .linknavs
{
    text-align:justify;
   
}

.btn-1-login
{
    margin-left: 40%;
    width: 20vw;
    margin-top: 5%;
}
#log-nav
{
    position: absolute;
    width: 127%;
    left: -36%;
    margin-bottom: 10%;
}
.side-bar-1
{
    height: 115vh;
    width: 96.5%;
    padding-right: 13%;
}
#demo1 img
{
width: 50vw;
height: 30vh;
margin-left: 25%;
}
.side-bar-1-ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sidebar-left-1
{
    margin-left: 27%;
    text-align: center;
    font-size: 90%;
}
#myDIV1 button
{
    width: 27vw;
}

#myDIV2 button, #myDIV3 button, #myDIV4 button   
{
   width: 20vw;
    
}
#myDIV2 button a, #myDIV3 button a, #myDIV4 button a
{
    font-size: 80%; 
}
.side-bar-2
{
    height: 105vh;
    width: 70%;
   
}
.my-custom-scrollbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
.card-side-bar-2
  {
width: 45%;
height: 50%;
  }
.card-side-bar-2 img
  {
     width: 150px;
     height: 150px;
  }
.h1-sidebar
  {
      margin-left: 35%;
  }
.ça-marche{
margin-top: 54%;
  }
.global
  {
      flex-direction: column;
  }
.offre-food img
{
width: 150px;
height: 150px;
}
.offre-food 
{
    width: 96.5%;

}
.cont
{
    margin: 15% 2%;
}
.page-page
{
    flex-direction: column;
}
.pagination1
{
    width: 60vw;  
}
.item1
{
    height: 550px;
}
.title1
{
    font-size: 80%;
    text-align: center;
}
/************footer*************/
.foot-image
{
    margin-left: 11%;
}
.foote2-1-1, .Latest-News, .endfoot, .endfoot0
  {
     text-align: center;
  }
.Best-Plates img
{
    margin-right: 10%;
}
.btn-contact
  {
      margin-left: 20%;
  }
  #fooooter
  {
      margin-left: 2%;
      margin-right: 2%;
  }
  #fooooter .row
  {
    margin-left: 0%;
    margin-right: 2%;
}
#endfoot0 p
{
    text-align: center;
    margin-right: 20%;
}
.contact-form{
    padding-left: 20%;  
    padding-right: 20%;
    width: 80vw; 
    margin-left: 8%;
    margin-top: 18%;
}

}

